<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">郭瀞婷寫作</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/funny-fiction/">愛搞笑</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/young-adult-fiction/">青少</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/picture-book/">繪本</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/stage-performance/">戲劇</a></li>    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/story-continues/">故事延伸</a></li>                   
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">為什麼做這網站</a></li>
</ul>
